@charset "UTF-8";
/* Nothing more needed from backup project/
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #74DB37, #FFFB70);
    font-size: 15px;
}

h1, h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 2rem;
}

.box {
    background-color: #FFA270;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
}

.button {
	background-color: #70F1FF;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 15px; 
}

.form.hidden {
    display: none;
}

.list-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
}

.list-container li {
    background-color: #f4f4f9;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-container button {
    margin-left: 1rem;
}